body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.profile-image {
    background-color:#fff;
    color: #333;
    size: 0rem;
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

.social-icons img {
    display: inline-block;
    width: 0px;
    height: auto;
    border-radius: 0%;
    margin-right: 0px;
}